/* Stylesheet / CSS */

/* Body */
#h1
{
    margin-left:10%;
}
.text
{
    margin-left:10%;
}

#allTable
{
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
    width: 80%;
}

#GareModif
{
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse:collapse;
    width: 30%;
}

#allTr
{
   background-color: #C0C0C0;
}

.btn_gauche
{
    width:100px;
    float: left;
    margin-left:10%;
    margin-top:1%;
    color:black;
    border-width:2px;
}

#boutonRafraichir
{
    width: 20px;
    height: 20px;
}


/* CSS des messages : succès, erreur etc... */
.msg_info, .msg_success, .msg_warning, .msg_error {
    width: 30%;
    padding:5px;
}
.msg_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.msg_info i, .msg_success i, .msg_warning i, .msg_error i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}


/* Menu */
#navigation {
    padding: 0;
    margin:0 auto;/*centrage marges automatiques*/
    margin-top:10%;
    text-align:center;/*centre les inline qu'il contient*/
    list-style-type:none;
}

#navigation li {
    background: #fff ;
    color: #000000;
    border: 1px solid #600 ;
    margin-bottom: 1px ;
    display:inline-block;/*de list-item à inline et en block pour pouvoir modifier la taille*/
    width:200px;
    padding:10px;
}

 
/* Lignes */
/*Le css est en pause
.lignesbtn 
{
    width:100px;
    float: right;
    margin-right:10%;
    margin-top:1%;
    color:black;
    border-width:2px;
}
*/

#ligneTDModifier
{
    text-align: center;
}