/* Stylesheet / CSS */

/* --------- Header ---------*/
/* Logo */
#logoMenu
{
    display: block; /*Mettre le logo en bloc, permet de l'aligner et de le redimensionner */
    margin-right:5%; /* Margin est la marge entre le logo et la fenêtre */
    margin-left: auto;
    border-collapse:collapse; /* collapse = sans bordure */
    width: 150px; /* Largeur */
    height: 100px; /* Longueur */
}
/* --------- FIN Header ---------*/

/* --------- Menu ---------*/
#navigation {
    padding: 0;
    margin: 0;/*centrage marges automatiques*/
    margin-top: 5%;
    text-align: center;/*centre les inline qu'il contient*/
    list-style-type: none; /* Met la liste à puce sans puce */
    background-color: #CD5C5C;
}

#navigation li {
    background: #CD5C5C ;
    color: #000000;
    margin-bottom: 1px ;
    display:inline-block;/*de list-item en hpnrizontale et en block pour pouvoir modifier la taille */
    width:150px;
    margin: 0;
}

#navigation li a {
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin:0;
    padding:10px;
}

#navigation li a:hover {
    background-color: #A52A2A;
    color: white;
    display: block;
}

#navigation #active {
    background-color: #8B0000;
    color: white;
}
/* --------- FIN Menu ---------*/

/* --------- Body --------- */

#h1
{
    margin-left:10%;
}
.text
{
    margin-left:10%;
}
/* --------- FIN Body ---------*/

/* --------- Tableau ---------*/

#tableAffich, #tableModif, #tableTarif
{
    margin: auto;
    margin-top: 1%;
    text-align: center;
    border-collapse:collapse;
    border: 1px solid black;
}

#tableAffich
{
    width: 80%;
}

#tableModif #tableTarif
{
    width: 40%;
}

#trTitre
{
    background: #CD5C5C;
    border: 2px solid black;
}

#tableModif .trModif
{
    border-bottom: 1px solid black;
}

th, td
{
    padding: 5px;
}

#tdList
{
    text-align: left;
}

/* Permet d'alterner les couleurs des lignes du tableau */
#trContenu:nth-child(even) {background: #FFF}
#trContenu:nth-child(odd) {background-color: rgba(200, 0, 0, 0.2)}



#tableAffich td, #tableModif td, #tableTarif td
{
    //border-left: 1px solid black;
    
}
/* --------- FIN Tableau ---------*/

/* --------- Bouton ---------*/

.btn_ModSup {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #000000;
  font-size: 13px;
  background: #ffffff;
  padding: 4px 7px 4px 7px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn_ModSup :hover {
  background: #A52A2A;
  text-decoration: none;
}

#btn_gauche, #btn_enregistrer {
    border-radius: 11px;
    font-family: Arial;
    color: #000000;
    font-size: 13px;
    background: #CD5C5C;
    padding: 7px;
    border: solid #000000 2px;
    text-decoration: none;
    
}
#btn_gauche
{
    float: left;
    margin-left:10%;
    margin-top:1%;
    margin-bottom: 10%;
}

#btn_enregistrer
{
    float: right;
    margin-right: 35%;
    margin-top:1%;
    margin-bottom: 10%;
}

/* --------- FIN Bouton ---------*/


/* CSS des messages : succès, erreur etc... */
.msg_info, .msg_success, .msg_warning, .msg_error {
    margin-left:10%;
    padding:5px;
    display: table;
}
.msg_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.msg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.msg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.msg_error {
    color: #D8000C;
    background-color: #FFBABA;
}


/* ------------ Lignes ------------ */
#ligneTDModifier
{
    text-align: center;
}
.aFiche
{
    color: #000;
    text-decoration: none;
}

#boutonRafraichir
{
    width: 20px;
    height: 20px;
}

/* --------- FIN Ligne ---------*/